name: Mirror webappreact
on:
    pull_request:
        branches:
            - main
        paths:
            - 'webappreact/**'
    push:
        branches:
            - main
        paths:
            - 'webappreact/**'

jobs:
  push_to_mirror:
    name: Push webappreact folder to mirror repo
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.CLONE_KEY }}

      - name: Push webappreact/ subtree to mirror repo
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          # Ajouter le repo cible en remote
          git remote add mirror ${{ secrets.MIRROR_URL_WEB }}

          # Pousser uniquement le dossier webappreact/ vers le repo cible
          git subtree push --prefix=webappreact mirror main

    