name: Mirror webappreact
on:
    pull_request:
        branches:
            - main
        paths:
            - 'webappreact/**'
    push:
        branches:
            - main
        paths:
            - 'webappreact/**'

jobs:
  push_to_prod:
    name: Push webappreact folder to prod
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    steps:
      - name: Repository checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: webappreact # Clone uniquement dans le dossier webappreact

      - name: Initialize Git in webappreact folder
        run: |
            cd webappreact
            git init
            git remote set-url origin ${{ secrets.MIRROR_URL_WEB }}
            git add .
            git commit -m "Mirror webappreact folder"
            git branch -M main

      - name: Push webappreact folder to target repository
        run: |
          cd webappreact
          git push origin main --force

    